<h1>About Ebun..</h1>
<!--about-section-->
<div class="about-container">
    
    <!-- about text-->
    <div class="about-text">
        <p>Preferred Name: Ebun</p>
        <p>Name Pronunciation: Eh·boo </p>
        <p>noun</p>
        <p>A passionate business & technology enthusiast
    striving to utilize logical and creative thinking
    to fuse both passions into optimal user
    experiences. The satisfaction of learning new
    programming languages, frameworks, and
    offering keen software design techniques,
    with a garnish of entrepreneurial spirit allows
    me to become a better programmer and
    businesswoman. With my forward thinking
    approach I take a great interest in exploring
    and creating new innovations.</p>
        <a class="linkad" href = "mailto:ebun.olodare@gmail.com?subject=Hiring Offer&body=Hello,">
            <button type="button">Hire Me</button> 
            </a>
        <a href="../downloads/resume.pdf" download="resume">
            <button type="button">Download CV</button>
        </a>
    <!-- image-->
    <img class="macbook" src="images/macbookk.png" alt="macbook">
    </div>
    </div>

