<!--contact me-->
<h1>Let's Connect.</h1>
<div class="contact-me">
    <p>Don’t hesitate to ask any question you can think of, or reach out just to say hello.
        A simple email or call is always a great start!</p>

    <p>Phone: (204) 291-5011</p>
    <a class="linkad" href="mailto:ebun.olodare@gmail.com?subject=Inquiry&body=Hello, ">
        Email: ebun.olodare@gmail.com
    </a>

</div>