<!-- TEXT-->
<section>
        <div class="text-container">
            <p>Hello,</p>
            <p>I'm Ebun Olorundare </p>
            <p>Computer Science<br>& Business Student </p>
            <a class="linkad" href = "mailto:ebun.olodare@gmail.com?subject=Hiring Offer&body=Hello,">
            <button type="button">Hire Me</button> 
            </a>
            <a href="../downloads/resume.pdf" download="resume"> 
         <button type="button">Download CV</button> 
            </a>
        </div>
        <!-- model-->
        <img src="images/model.png" class="model" alt="model">
</section>